
html
    head
        title My app
    body
        h1(class='myClass') Heyy this is my app
        p
            h3(id="mysuperID") Ole ole ole
        ul
            each val in list
                li= val